# Папки с кешем и временными файлами
.ipynb_checkpoints
.Trash-0
__pycache__/
test_files/

# Папки с большими данными и моделями
Vistino20241014_E57
CVAT_Workspace
train

# Служебные файлы, которые не нужны в образе
.git
.gitignore
.dockerignore
Dockerfile
README.md
e57_recycling.py
XMLunit.py
