# Папки с кешем и временными файлами
.ipynb_checkpoints
.Trash-0
__pycache__/
test_files/

# Папки с большими данными и моделями
Vistino20241014_E57/
CVAT_Workspace/
train/

# Служебные файлы
.git
.gitignore
.dockerignore
README.md

# Python-артефакты
*.pyc
*.pyo
*.pyd
*.egg-info
.env
