.ipynb_checkpoints
.Trash-0
*.json
train/data/test/output_all_epochs/*

# Игнорировать все файлы и папки, начинающиеся подчёркивания
**/_*

# Игнорировать всё содержимое указанных папок
models/*
CVAT_Workspace/*
Vistino20241014_E57/*
train/checkpoints/*
train/data/imgs/*
train/data/masks/*
train/data/test/input/*
train/data/test/output/*
train/wandb/*
train/data/test/output_with_Attention*/*

# НЕ игнорировать файлы .gitkeep, чтобы Git отслеживал сами папки
!__init__.py
!models/.gitkeep
!CVAT_Workspace/.gitkeep
!Vistino20241014_E57/.gitkeep
!train/checkpoints/.gitkeep
!train/data/imgs/.gitkeep
!train/data/masks/.gitkeep
!train/data/test/input/.gitkeep
!train/data/test/output/.gitkeep
AGENTS.md
backlog.md
